

.form-horizontal .form-group {
    margin-right: 25px;
    margin-left: -15px;
    padding-right:0px !important;
}
.imagencarrito{
    width:30px;
    height:40px;

}
.model {
    width: 25%;
    height: 25%;
    margin-top:160px;
}
#Observaciones {
    width: 32%;
}
.sub1{
    display:none;
}
.padre {
    display: none;
}
.principal{
    display:none;
}
.subtotalcolumn, .descuentocolumn{
    display: none;
}
.tabledatospago{
    width:30%;
    margin-left:62%;
}
.tab input{
    margin-left:10px;
}
@media print {
    .principal {
        display: block;
    }
    .tabledatospago {
        width: 30%;
        margin-left: 70%;
        margin-top:30px;
    }
    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0;
        border-right: 1px solid #464646;
    }
    .table > thead > tr > th {
        /* border-bottom: 2px solid #f4f4f4; */
        border-top: 1px solid #464646;
        border-bottom: 1px solid #464646;
        font-size:16px;
    }

  
    .lista thead {
        border: 1px solid #111;
    }   
    .tab input {
       width:40px;
       border:none;

    }
    .tab{
        display:block;
    }
   .tab{
       border:none;
   }
    .subtotalcolumn, .descuentocolumn {
        display: block;
    }
    .tabledatospago{
        border:1px solid #111;
    }
    .padre {
        display: flex;
        margin-left: 5%;
        margin-top: 10%;
    }
    .firmas{
        margin-left:5%;
    }
    .nombrefirma {
        margin-left: 35%;
    }
    .fimas1 {
        margin-left: 40px;
    }
    #detalle {
        margin-top: 20px;
    }
    .firma{
        display: flex;
        flex-direction:column;
    }
    .imagencarrito {
        width: 110px;
        height:110px;
        margin-top:50px;
    }
    .botoneliminar, .idprod, .itb, .sub1 {
        display: none;
    }
    .datosclientes{
        border: 1px solid #111;
    }
    .datosclientes h2{
        font-size: 18px;
        padding-left:20px;
    }
}
.contedor{
    margin-top:3% !important;
}

.eliminar {
    font-size: 23px;
}
.eli {
    color: red;
}
.divbuscar{
    margin-left:2%;
}
.iconocrear {
    font-size: 20px;
    text-align: left;
}
.crear {
    width: 120px;
    text-align: center;
    margin-left:3%;
}
th {
    font-weight: bold;
}
.table {
    color: #484848 !important;
    padding-bottom:10px;
}
.dataTables_length{
    margin-top:20px;
    padding-left:10px;
}
.dataTables_filter input {
    border: none;
    border-bottom: 1px solid #817e7e;
    padding-top: 13px;
    margin-right: 20px;
}
.dataTables_wrapper{
    margin-bottom:30px;

}

.paginate_button.current {
    background: #75beee !important;
    color: #fff !important;
}

.table tr:hover {
    color: #111 !important;
}
.iconousuario{
    font-size:60px;
    margin-top:20px;
    margin-bottom:25px;
}
.btnelimina {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: #f50057;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
}

#crear {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
#crear i{

    font-size:21px;
}

#fotosubir{
    display:none;
}
#fotoejemplo{
    cursor:pointer;
}
#tabla tr:hover {
    cursor: pointer;
}
.form-horizontal {
    margin-left: 79px !important;
}
.control-label {
    color: #5b5a5a;
    margin-left: -15px;
}
.form1{
    margin-right:0px !important;
    padding-right:0px !important;
}

.boton {
    padding-left: 0px !important;
    width: 20px;
}
.form-horizontal .checkbox{
    min-height: 27px;
    margin-top:42px;
    margin-left:0px !important;
}
.icono{
    margin-top:38px;
    margin-left:-3%;
    font-size:20px;
}
.form-horizontal{
    margin-left:30px;
}
.form-control {
    border: none;
    border-bottom: 1px solid #817e7e;
    display: block;
    width: 100%;
    height: 34px;
    padding: 0px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    text-transform: uppercase;
}

#Precio, #itbis,#costo{
    text-align:right;

}
#Descripcion{
    text-transform:uppercase;
}

#detalle tbody tr{
    cursor:pointer;
}

.modal1 {
    margin-top: -60px;
    width: 136%;
}
.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled {
    color: currentColor;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}