
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaPdf</title>
</head>
<body>
    <p>@ViewBag.cantidad</p>
    <p>@ViewBag.precio</p>

    </body>
</html>
